<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">

            <table class="table table-bordered">
                <tr>
                    <th width="20%">Flower Image</th>
                    <th width="50%">Flower Detail</th>
                    <th width="30%"></th>
                </tr>

                <tr *ngFor="let tempCartItem of cartItems">
                    <td>
                        <img src="{{ tempCartItem.imageURL }}" class="img-responsive" width="150px" />
                    </td>
                    <td>
                        <p>{{ tempCartItem.name }}</p>
                        <p>{{ tempCartItem.price | currency: 'USD' }}</p>
                    </td>
                    <td>
            
                        <div class="items">
                            <div class="col col-qty layout-inline">
                                <button  class="qty qty-plus" (click)="incrementQuantity(tempCartItem)">+</button>
                                    <label>Quantity:</label> {{ tempCartItem.quantity }}
                                <button class="qty qty-minus" (click)="decrementQuantity(tempCartItem)">-</button>
                                
                            </div>
                            <button (click)="remove(tempCartItem)">Remove</button>  
                              
                        </div>

                        <p class="mt-2">Subtotal: {{ tempCartItem.quantity * tempCartItem.price | currency: 'USD' }}</p>
                    </td>
                </tr>

                <tr>
                    <td colspan="2"></td>
                    <td style="font-weight: bold">
                        <p>Total Quantity: {{ totalQuantity }}</p>
                        <p>Total Price: {{ totalPrice | currency: 'USD' }}</p>
                    </td>
                </tr>
            </table>
            <div class="d-flex justify-content-center">
                 <button type="button" class="btn btn-primary" *ngIf="totalQuantity>0" routerLink="/checkOutForm">Summarize</button>
            </div>
        </div>
    </div>
</div>
